:root{
    --cor-fundo: #01080e;
    --cor-principal: #0b0d20;
    --cor-secundaria: #212333;
    --cor-destaque: #2bdefd;
    --cor-texto: #d7f9ff;
    --fonte-principal: "Chakra Petch", sans-serif;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transition: background-color 0.3s;
}