:root{
    --cor-fundo: #b1b2e3;
    --cor-principal: #c4c6ea;
    --cor-secundaria: #d8d9f1;
    --cor-destaque: #ebecf8;
    --cor-texto: #ffffff;
    --fonte-principal: "Chakra Petch", sans-serif;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transition: background-color 0.3s;
}